<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted"></div>
<h3> Héroe borrado <small class="text-danger"> {{ deletedHero }} </small> </h3>

<!-- la palabra con el gatito es una referencia local -->
<!-- ng-template es una etiqueta que sirve para separar
una sección de código pero sólo en su estado lógico, no en
su estado físico, y solo es visualizado cuando se llama
por medio de una referencia local por ejemplo -->

<ng-template #nothingWasDeleted>
  <h3> No ha borrado nada </h3>
</ng-template>


<button
(click)="removeLastHero()"
class="btn btn-outline-danger">
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
  class="list-group-item"> {{ name }} </li>
</ul>

